@page "/"
@using Domain.Game
@using Domain.Game.Events
@using GameWebApp.Classes
@using GameWebApp.Classes.Models
@using GameWebApp.Classes.Utilities

@inject IJSRuntime JsRuntime;
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

@if (!string.IsNullOrEmpty(_gameConsole))
{
    <h1 class="game-console">@_gameConsole</h1>
}

<div id="@JsFunctionProvider.ContainerId"></div>

@code {
    private DotNetObjectReference<Home>? _dotNetRef;
    private string _gameConsole = "";
    private GameEngine _engine = null!;
    private Guid? _clickedElementId;

    //TODO: when backend is ready, the initial value of this should be retrieved from it
    private readonly GameState _serverState = Factory.GetFirstGameState();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _engine = new GameEngine(GameSettingsLoader.Load(Configuration));
            _dotNetRef = DotNetObjectReference.Create(this);

            await GameEngine.Init(JsRuntime, _dotNetRef, _serverState);
            await _engine.StartGame(JsRuntime, _serverState);
        }
    }

    [JSInvokable]
    public Task OnTerritoryClicked(Guid territoryId)
    {
        var territory = _serverState.Territories.First(t => t.Id == territoryId);
        var clickedElement = _serverState.Territories.FirstOrDefault(t => t.Id == _clickedElementId);

        if (territory.OwnerId is null && clickedElement is null)
        {
            return Task.CompletedTask;
        }

        if (clickedElement is not null)
        {
            if (clickedElement.Id == territory.Id)
            {
                return Task.CompletedTask;
            }

            _gameConsole = $"{clickedElement.OwnerId} attacca/invia truppe a {territory.OwnerId}";
            _engine.AddAttackEvent(new AttackEvent
            {
                AttackerTerritoryId = clickedElement.Id,
                DefenderTerritoryId = territory.Id,
                Troops = clickedElement.Troops - 1
            });
            _clickedElementId = null;
            StateHasChanged();

            return Task.CompletedTask;
        }

        _clickedElementId = territory.Id;

        _gameConsole = $"Hai cliccato il territorio di: {territory.OwnerId}";
        StateHasChanged();

        return Task.CompletedTask;
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }

}