@page "/"
@using Domain.Game
@using Domain.Game.Events
@using GameWebApp.Classes
@using GameWebApp.Classes.Utilities

@inject IJSRuntime JsRuntime;
@inject IConfiguration Configuration

<PageTitle>GameBoard</PageTitle>

@if (_console is not null)
{
    <div class="game-console">
        @foreach (var action in _console.Actions)
        {
            <p class="console-action">
                @action
            </p>
        }

        @if (_console.Actions.Count == 0)
        {
            <p class="console-action">
                Nessuna Azione Commessa, Fai un Attacco!
            </p>
        }
    </div>
}

<div class="actions-list">
    <button onclick="changeTheme('light')">
        light
    </button>
    <button onclick="changeTheme('dark')">
        dark
    </button>
</div>
<div id="@JsFunctionProvider.ContainerId"></div>

@code {
    private DotNetObjectReference<Home>? _dotNetRef;
    private GameEngine _engine = null!;
    private Guid? _clickedElementId;

    //TODO: when backend is ready, the initial value of this should be retrieved from it
    private readonly GameState _serverState = Factory.GetFirstGameState();
    private GameConsole? _console;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _engine = new GameEngine(GameSettingsLoader.Load(Configuration));
            _dotNetRef = DotNetObjectReference.Create(this);
            _console = new GameConsole(_serverState.Players);
            StateHasChanged();
            
            await GameEngine.Init(JsRuntime, _dotNetRef, _serverState);
            await _engine.StartGame(JsRuntime, _serverState);
        }
    }

    [JSInvokable]
    public Task OnTerritoryClicked(Guid territoryId)
    {
        var territory = _serverState.Territories.First(t => t.Id == territoryId);
        var clickedElement = _serverState.Territories.FirstOrDefault(t => t.Id == _clickedElementId);

        if (territory.OwnerId is null && clickedElement is null)
        {
            return Task.CompletedTask;
        }

        if (clickedElement is not null)
        {
            if (clickedElement.Id == territory.Id)
            {
                return Task.CompletedTask;
            }

            var troopsToSent = clickedElement.Troops - 1;

            _console?.AddNewAttackAction(clickedElement, territory, troopsToSent);

            _engine.AddAttackEvent(
                new AttackEvent
                {
                    AttackerTerritoryId = clickedElement.Id,
                    DefenderTerritoryId = territory.Id,
                    Troops = troopsToSent
                }
            );

            _clickedElementId = null;
            StateHasChanged();

            return Task.CompletedTask;
        }

        _clickedElementId = territory.Id;
        StateHasChanged();

        return Task.CompletedTask;
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }

}