@page "/"
@using Domain.Game
@using Domain.Game.Events
@using GameWebApp.Classes
@using GameWebApp.Classes.Models
@using GameWebApp.Classes.Utilities

@inject IJSRuntime JsRuntime;
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

@if (string.IsNullOrEmpty(_gameConsole))
{
    <h1>Hello, world!</h1>
}
else
{
    <h1>@_gameConsole</h1>
}

<div id="@JsFunctionProvider.ContainerId"></div>

@code {
    private DotNetObjectReference<Home>? _dotNetRef;
    private string _gameConsole = "";
    private GameEngine _engine = null!;
    private UiTerritory? _clickedElement;

    //TODO: when backend is ready, the initial value of this should be retrieved from it
    private readonly GameState _serverState = Factory.GetFirstGameState();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _engine = new GameEngine(GameSettingsLoader.Load(Configuration));

            _dotNetRef = DotNetObjectReference.Create(this);
            await GameEngine.Init(JsRuntime, _dotNetRef, _serverState);
            await _engine.StartGame(JsRuntime, _serverState);
        }
    }

    [JSInvokable]
    public Task OnTerritoryClicked(UiTerritory territory)
    {
        if (_clickedElement is not null)
        {
            if (_clickedElement.Id == territory.Id )
            {
                return Task.CompletedTask;
            }
            
            _gameConsole = $"{_clickedElement.OwnerId} attacca/invia truppe a {territory.OwnerId}";
            _engine.AddAttackEvent(new AttackEvent
            {
                AttackerTerritoryId = _clickedElement.Id,
                DefenderTerritoryId = territory.Id,
                Troops = territory.Troops - 1 
            });
            _clickedElement = null;
            StateHasChanged();

            return Task.CompletedTask;
        }

        _clickedElement = territory;

        _gameConsole = $"Hai cliccato il territorio di: {territory.OwnerId}";
        StateHasChanged();

        return Task.CompletedTask;
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }

}