*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.three-column-layout {
  min-height: 100vh;
  height: 100%;
  padding: 16px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 16px;
  height: 100%;
}

.left-col,
.right-col {
  display: block;
}

@media (max-width: 768px) {
  .left-col,
  .right-col {
    display: none !important;
  }
  .three-column-grid {
    grid-template-columns: 1fr !important;
  }
}

.leaderboard {
  border-radius: 8px;
  padding: 16px;
  height: 100%;
  color: #fff;
  background-color: #213547;
}

.leaderboard-row {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.leaderboard-row:focus {
  outline: none; 
  background-color: #000;
}

.leaderboard-row-left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.leaderboard-row-username {
  font-weight: 700;
}

.preview-popup {
  position: absolute;
  left: 200px;
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
  border: 1px solid #ddd;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  z-index: 1000;
  margin-top: 8px;
}

.preview-popup-title {
  font-weight: 700;
  margin-bottom: 6px;
}

.preview-popup-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.preview-popup-list li {
  padding: 4px 0;
}

.preview-popup-list li span {
  margin-right: 8px;
}

.match-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.match-item-result {
  font-weight: 700;
}

.auth-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 16px;
  height: 100%;
  color: #fff;
}

.auth-card-title {
  text-align: center;
  margin: 0;
}

.auth-card-logged {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-group {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-group label {
  margin-bottom: 4px;
  font-weight: 500;
}

.login-form-input {
  padding: 4px 8px;
  font-size: 1rem;
  width: 80%;
  max-width: 300px;
}

.login-form-buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-form-buttons button {
  padding: 6px 12px;
  font-size: 1rem;
  cursor: pointer;
}

.auth-error {
  margin-top: 12px;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}