.warboard-root {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.warboard-svg {
    width: 100%;
    height: 100%;
    display: block;
}

#map-root {
    position: absolute;
    top: 150px;
    left: 350px;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}