:root {
    /* --- light mode --- */
    --light-bg: #F4F4F4;
    --light-overlay-bg: #F7F7F7;
    --light-contrast: var(--dark-overlay-bg);
    --light-high-contrast: var(--dark-bg);

    /* --- dark mode --- */
    --dark-bg: #0F172B;
    --dark-overlay-bg: #1B273B;
    --dark-contrast: rgba(247, 247, 247, 0.47);
    --dark-high-contrast: var(--light-bg);

    /* --- current theme --- */
    --bg: var(--dark-bg);
    --overlay: var(--dark-overlay-bg);
    --contrast: var(--dark-contrast);
    --high-contrast: var(--dark-high-contrast);
}

html, body {
    background: var(--bg);
}

.warboard-root {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.game-console {
    z-index: 9999;
    position: absolute;
    bottom: 40px;
    left: 0;
    background: var(--overlay);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 50px;
    max-height: 250px;
    min-width: 450px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    overflow-y: hidden;

    opacity: 0.1;
    transition: opacity 0.5s ease;
}

.game-console:hover {
    overflow-y: auto;
    opacity: 1;
}

.game-console::-webkit-scrollbar{
    display: none;
}

.console-action {
    margin: 0;
    padding-left: 10px;
    font-size: 18px;
    color: var(--contrast);
    padding-bottom: 10px;
}

polygon:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 8px var(--contrast));
}

circle:hover {
    cursor: pointer;
}

text {
    fill: var(--bg);
}

.warboard-svg {
    width: 85%;
    height: 85%;
    display: block;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}